.search-container-wrapper {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.search-container {
    margin-top: 1rem;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.search-input {
    width: 80%;
    max-width: 50rem;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; 
    border: 2px solid rgba(71, 72, 73, 0.199);
    border-radius: 1.5rem;
    padding: 0 1rem;
}

.search-container input {
    width: 90%;
    max-width: 50rem;
    height: 2rem;
    border-radius: 1.5rem;
    padding: 0 1rem;
    border: none;
    outline: none;
    font-size: 1rem;
    font-family: 'Helvetica';
    color: #000000;
    background-color: #ffffff;
    box-shadow: none;
    transition: all 0.3s ease;
    margin-right: auto;
}

.search-category {
    width: 90%;
    max-width: 50rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1rem;
    overflow-x: auto;
    flex-wrap: nowrap;
    scrollbar-width: thin;
}

.search-category::-webkit-scrollbar {
    height: 4px;
}

.search-category::-webkit-scrollbar-track {
    background: transparent;
}

.search-category::-webkit-scrollbar-thumb {
    background-color: none;
    border-radius: 2px;
}

.search-category button {
    width: 10rem;
    height: 2.5rem;
    border-radius: 1.5rem;
    border: 2px solid rgba(71, 72, 73, 0.199);
    outline: none;
    background-color: #ffffff;
    color: #000000;
    font-size: 1rem;
    font-family: 'Helvetica';
    cursor: pointer;
    margin: 0 0.5rem;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.search-category button:hover {
    background-color: #1d6ee9;
    color: #ffffff;
    transform: scale(1.01);
}

.search-category button:active {
    background-color: #1d6ee9;
    transform: scale(1.01);
}

.search-filter {
    width: 10rem;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
}

.search-button {
    width: 10rem;
    height: 2.5rem;
    border-radius: 1rem;
    border: 2px solid rgba(71, 72, 73, 0.199);
    background-color: #1d6ee9;
    color: #ffffff;
    font-size: 1rem;
    font-family: 'Helvetica';
    cursor: pointer;
    margin: 0 0.5rem;
}

.search-button:hover {
    background-color: #01a2ff;
    color: #ffffff;
    transform: scale(1.01);
}

@media (max-width: 768px) {

    .search-container-wrapper {
        width: 90%;
        max-width: 90%;
        align-items: center;
    }
    
    .search-input {
        width: 100%;
        max-width: 100%;
        margin-left: 1rem;
    }
    .search-container {
        width: 100%;
    }
    .search-category {
        width: 80%;
    }
    .search-button {
        width: 80%;
    }
}